<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sawle_FinalProjectAssessment1.My.MySettings.RecipesConnectionString" connectionString="Data Source=|DataDirectory|\Recipes.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
